# Ignore node_modules directory
node_modules

# Ignore build output directory (if not needed in context)
dist

# Ignore .git directory
.git

# Ignore .gitignore file
.gitignore

# Ignore Dockerfile (it's used by Docker, not copied into the image)
Dockerfile
custom-nginx.conf

# Ignore any local environment files
.env

# Ignore test and configuration files not needed for production
karma.conf.js
tsconfig.spec.json
src/test.ts
